---
import { getAllPosts } from "../../lib/cosmic";
import Card from "../../components/global/Card.astro";
const data = await getAllPosts();
---

<section class="mb-10">
    <ul class="px-6 grid md:grid-cols-4 gap-8">
      {
        data.map((post) => (
          <Card
            title={post.title}
            href={post.slug}
            body={post.metadata.excerpt}
            image={post.metadata.cover_image.url}
          />
        ))
      }
    </ul>
  </section>