---
import { getAllPosts } from "../../lib/cosmic";
import Card from "../../components/global/Card.astro";
const data = await getAllPosts();
const type = 'blog';
---
<div class="mb-10 max-w-7xl mx-auto">
  <div class="py-6 mx-6 lg:py-8">
    <p class="text-xs font-bold tracking-wide uppercase text-zinc-500">latest blog posts</p>
  </div>  
  <ul class="px-4 grid md:grid-cols-4 gap-6">
      {
        data.map((post) => (
          <Card
            title={post.title}
            href={post.slug}
            body={post.metadata.excerpt}
            image={post.metadata.cover_image.imgix_url + '?w=400'}
            type={type}
          />
        ))
      }
    </ul>
  </div>