<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl l">
    <div
      class="relative overflow-hidden bg-smoke ring-1 ring-zinc-300 px-6 py-20 rounded-3xl sm:px-10 sm:py-24 md:px-12 lg:px-20">
      <img
        class="absolute inset-0 h-full w-full object-cover brightness-150 saturate-0"
        src="img/newhero.jpg"
        alt=""
      />
      <div class="absolute inset-0 bg-smoke/90"></div>

      <div class="relative mx-auto max-w-2xl lg:mx-0">
        <figure>
          <blockquote
            class="text-lg font-medium text-zinc-500 sm:text-2xl sm:leading-8">
            <p>
              Anyone that knows how can have a blazing fast, attractive, secure and easy to manage 
              website for less than $50 per YEAR. If you are not doing ecommerce and you are paying
              $20-30 per month or more to host a low traffic website, you are getting ripped off.
            </p>
          </blockquote>
          <figcaption class="mt-6 text-base text-zinc-500">
            <div class="font-semibold">Mike A.</div>
            <div class="mt-1">CEO of Something</div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
