<footer class="bg-zinc-200 ring-1 ring-zinc-300">
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-12">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8 items-start">
      <div class="inline-flex items-center gap-3 text-xl font-bold tracking-tight text-zinc-900">
        <a class="inline-flex items-center gap-0" href="/"><img src="logo2.png" /></a>
      </div>
      <div class="gap-8 xl:col-span-2 lg:ml-auto">
        <div class="md:grid md:grid-cols-2 lg:grid-cols-4 md:gap-8 lg:gap-20">
          <div class="mt-12 md:mt-0">
            <h3 class="text-zinc-900 text-base font-medium">Column One</h3>
            <ul role="list" class="mt-4 text-xs space-y-2">
              <li><a href="#" class="text-zinc-600 hover:text-zinc-900">A link</a></li>
            </ul>
          </div>

          <div>
            <h3 class="text-zinc-900 text-base font-medium">Column Two</h3>
            <ul role="list" class="mt-4 text-xs space-y-2">
              <li><a href="#" class="text-zinc-600 hover:text-zinc-500">a Link</a></li>
              <li><a href="#" class="text-zinc-600 hover:text-zinc-900">A Link</a></li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-zinc-900 text-base font-medium">Social</h3>
            <ul role="list" class="mt-4 text-xs space-y-2">
              <li><a href="#" class="text-zinc-600 hover:text-zinc-900">@twitter</a></li>
              <li><a href="#" class="text-zinc-600 hover:text-zinc-900">@facebook</a></li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-zinc-900 text-base font-medium">Column Four</h3>
            <ul role="list" class="mt-4 text-xs space-y-2">
              <li><a href="#" class="text-zinc-600 hover:text-zinc-900">A Link</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <nav class="pt-12 flex flex-col lg:flex-row gap-8">
      <span class="text-xs text-zinc-600">© 2023 Rule The Web LLC</span>
      <a class="relative -my-2 -mx-3 rounded-lg px-3 py-2 text-xs text-zinc-600 transition-colors delay-150 hover:delay-[0ms] hover:bg-mirage"
        href="/#process"><span class="relative z-10">Terms of use</span></a>
  
      <a class="relative -my-2 -mx-3 rounded-lg px-3 py-2 text-xs text-zinc-600 transition-colors delay-150 hover:delay-[0ms] hover:bg-mirage"
        href="/#benefits"><span class="relative z-10">Privacy policy</span></a>
      
      <a class="relative -my-2 -mx-3 rounded-lg px-3 py-2 text-xs text-zinc-600 transition-colors delay-150 hover:delay-[0ms] hover:bg-mirage"
        href="/#pricing"><span class="relative z-10">Privacy policy</span></a>
    </nav>
  </div>
</footer>