---
const { href, title } = Astro.props
---
<a id={href} class="px-4 py-2 text-xs text-gray-500 hover:text-zinc-900 focus:outline-none focus:shadow-none focus:text-zinc-900/90" href={`${href}`}>{title}</a>
